{% extends 'base.html' %}
{% block main %}
<form action="{% url 'usermanager:loginapi' %}" method="post" class="comment-form">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4">
      <label for="{{ form.username.id_for_label }}">名字：</label>
      {{ form.username }}
      {{ form.username.errors }}
    </div>
    <div class="col-md-4">
      <label for="{{ form.password.id_for_label }}">密码：</label>
      {{ form.password }}
      {{ form.password.errors }}
      <button type="submit" class="comment-btn">登录</button>
    </div>
  </div>    <!-- row -->
</form>
 {% endblock main %}
